* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root {
    --color-text: #000;
    --azulescuro: #0B3D80;
    --azul-h1: #004AAD;
    --azulclaro: #4285F3;
    --azulzinho: #79BFFF;
    --laranja: #F68F06;
    --laranjamedio: #FFC546;
    --laranjaclaro: #FFF1D6;
    --laranjaclaro2: #FFD67C;
    --branco: #fff;
}

body {
    background-color: var(--laranjaclaro2);
}

a{
    display: flex;
    justify-content:left ;
    width: fit-content;
    margin-bottom: -100px;
    margin-left: -200px;
}

a img{
    background: none;
    border: none;
    max-width: 200px;
    margin-right: 1400px;
}

img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 40px;
    max-width: 1000px;
    max-height: 900px;
    margin-left: 200px;
    margin-bottom: 100px;
}